/* Basic CSS starts */

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {

}

p {
    margin: 0;
    padding: 0;
}

a {

}

a:hover {

}

a:hover, a:active, a:focus {
    outline: 0;
}

hr {

}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/* Basic CSS ends */

.container {
    width: auto;
}

.tblue {
    color: #69b8e5;
}

.top {
    background: #555 url('../img/back.jpg') repeat;
    border-bottom: 1px solid #000;

}

.inner-page {
    padding-top: 0 !important;
    padding-bottom: 10px;
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}

header .logo h1 {
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    font-family: 'Lobster Two', cursive;
    text-shadow: 1px 1px 1px #777;
}

header .logo h1 a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}

header .navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 80px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}

header .navigation a:hover {
    color: #fff;
    background: #333;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}

/* Features */

.features {
    background: #eee url('../img/featureback1.png') repeat;
    padding-top: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
}

.features .feature-title h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    font-weight: 400 !important;
    color: #555;
}

.features .feature-title p {
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #555;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    max-width: 700px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.features hr {
    margin-top: 25px;
    margin-bottom: 35px;
}

.features .feat {
    text-align: center;
    color: #888;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    -ms-transition: color 1s ease;
    transition: color 1s ease;
    cursor: pointer;
}

.features .feat:hover {
    color: #444;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    -ms-transition: color 1s ease;
    transition: color 1s ease;
}

.features .feat i {
    font-size: 30px;
}

.features .feat h4 {
    color: #666;
    font-weight: 400 !important;
}

.features .feat p {
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    font-style: italic;
    font-family: 'Droid Serif', serif;
}

/* Features */

/* Shots */

.shots {
    padding-top: 60px;
    padding-bottom: 60px;
}

.shots .screenshot img {
    width: 300px;
    margin: 0px auto;
}

.shots .shotcontent h3 {
    font-size: 35px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.shots .shotcontent p.shot-para {
    font-size: 16px;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    font-weight: normal;
    line-height: 35px;
}

.shots hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.shots .shotcontent .shot-content-body i {
    font-size: 20px;
    line-height: 25px;
    margin-right: 5px;
}

.shots .shot-content-body p {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 28px !important;
}

.shots .shotcontent a.download {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 0px 25px;
    border-radius: 5px;
    background: #39a5e2;
    line-height: 50px;
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.2) inset, 0 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}

.shots .shotcontent a.download:hover {
    background: #1c97dd;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    -ms-transition: background 1s ease;
    transition: background 1s ease;
}

/* Footer */

footer {
    padding-top: 30px;
    background: #000 url('../img/3.png') repeat;
    color: #ccc;
}

footer a {
    color: #aaa;
}

footer a:hover {
    text-decoration: none;
    color: #eee;
}

footer hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: #101010 1px solid;
    border-bottom: #222 1px solid;
}

footer .footer-link {
    padding-top: 15px;
}

footer .footer-link h5 {
    color: #fff;
    font-size: 18px;
}

footer .footer-link a {
    margin-bottom: 10px;
    display: inline-block;
}

footer .copy {
    margin-bottom: 20px;
    font-size: 13px;
}




#input-form{
    max-width: 300px;
    float: right;
    margin-right: 50px;
}

#btn-apply{
    margin-top: 25px;
}

/* chess board */
.black, .white, .black-queen, .white-queen {
    width: 50px;
    height: 50px;
    float: left;
}

.black-queen {
    background: url('../img/black-queen.svg') no-repeat center, url('../img/white.png') repeat;
}

.white-queen {
    background: url('../img/white-queen.svg') no-repeat center, url('../img/black.png') repeat;
}

.black {
    background: #000000 url('../img/black.png') repeat;
}

.white {;
    background: #ffffff url('../img/white.png') repeat;
}

.row-block {
    clear: left;
}

#chess-board-container {
    text-align: center;
    padding: 50px 0;
}

#s-chess, #p-chess {
    float: left;
    padding: 30px 30px;
}

#s-chess{
    display: none;
}

#chess-board {

    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}